Repository BF-FrontEnd-class-2025/group-3-all-about-trees, pull requests merged in 2025-01, with the labels that each got.

#4 added project constraints and updated cspell file
  .cspell.json
  planning/constraints.md
Labels: planning

#7 added communication plan
  planning/communication.md
Labels: planning, md

#9 add user personas
  planning/user-personas.md
Labels: planning, md

#10 must haves added to backlog
  planning/backlog.md
Labels: planning, md

#21 added footer
  index.html
  styles/index.css
Labels: html, css

#22 added a nav bar
  index.html
  styles/index.css
Labels: html, css

#24 add main section
  index.html
  styles/index.css
Labels: html, css

#26 add 3 personas
  planning/user-personas.md
Labels: planning, md

#27 updated the backlog file
  .cspell.json
  planning/backlog.md
Labels: planning, md

#29 added wireframe
  planning/design.md
  public/wireframe.png
Labels: planning, md

#32 updated the constraints file
  planning/backlog.md
  planning/constraints.md
  planning/user-personas.md
Labels: planning, md

#33 added the aside section
  index.html
  styles/index.css
Labels: planning, html, css

#36 main readme update
  README.md
  planning/screenshot.jpg
  planning/screenshot.png
Labels: planning, md

#38 edited retrospective file
  .cspell.json
  planning/retrospective.md
Labels: planning, md
